<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Jua&family=Nanum+Gothic+Coding:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'text': '#10181e',
                        'background': '#ffffff',
                        'shade': '#D9D9D9',
                        'primary': '#18517b',
                        'secondary': '#aad1ee',
                        'tertiary': '#226faa',
                        'accent': '#4e4ea2',
                    },
                    fontFamily: {
                        'sans': ['Open Sans', 'sans-serif'],
                        'inter': ['Inter', 'sans-serif'],
                        'jua': ['Jua', 'sans-serif'],
                        'nanum': ['Nanum Gothic Coding', 'sans-serif'],
                    },
                    fontSize: {
                        'base': '16px',
                        'lg': '25.8px',
                        'xl': '41.8px',
                        '2xl': '67.8px',
                    },
                }
            }
        }
    </script>
    <style>
        @tailwind base;
        @tailwind components;
        @tailwind utilities;

        :root {
            font-family: 'nanum', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #10181e;
            background-color: #ffffff;
        }

        @layer base {

            h1 {
                @apply text-2xl;
            }
            h2 {
                @apply text-xl;
            }
            h3 {
                @apply text-lg;
            }
        }

        nav .title {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            font-weight: bold;
            font-family: 'Inter', sans-serif;
        }

        .login-box {
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
        }

    </style>
</head>
<body>
<nav class="bg-primary h-[10vh]">
    <div class="w-[434px] mx-auto text-2xl title">
        <h1>NoFreeRider</h1>
    </div>
    <div class="w-full h-full flex flex-row justify-end items-center px-[51px] space-x-2">
        <div class="relative" id="dropdown-container">
            <button type="button" id="dropdown-button" class="flex items-center justify-center w-12 h-12 text-gray-800 bg-gray-300 rounded-full focus:outline-none">
                <span class="material-icons">notifications</span>
                <span id="notification-count" th:if="${notificationList.length != 0}" th:text="${notificationList.length}" class="absolute top-0 right-0 flex items-center justify-center w-6 h-6 text-white bg-red-600 rounded-full"></span>
            </button>
            <div class="absolute hidden right-0 mt-2 w-72 bg-white rounded-md shadow-xl z-20 overflow-y-auto" style="max-height: 16rem;" id="dropdown-menu">
                <div class="flex flex-col divide-y divide-gray-200">
                    <div th:each="notification : ${notificationList}" class="flex items-center hover:bg-gray-50 notification-item">
                        <a href=""
                           th:data-notif-id="${notification.notice_id()}"
                           th:data-notice-url="${notification.notice_url()}"
                           onclick="handleNotificationClick(this); return false;"
                           class="block p-4">
                            <span th:text="${notification.notice_title()}" class="block text-lg font-medium text-gray-900"></span>
                            <span th:text="${notification.notice_content()}" class="block text-sm text-gray-600"></span>
                        </a>
                        <!-- Delete Button -->
                        <button th:data-notif-id="${notification.notice_id()}"
                                onclick="handleDeleteNotification(this);"
                                class="text-red-500 hover:text-red-700 p-4 ml-auto">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <button class="button text-lg bg-shade text-center w-[170px] h-[60px]" id="signout-btn">Sign Out</button>
    </div>
</nav>

<!--main-->
<div class="flex flex-row h-[90vh]">
    <!-- Sidebar -->
    <div class="w-1/4 bg-secondary p-8">
        <div class="flex flex-col space-y-4">
            <!-- User greeting -->
            <div>
                <div class="text-center font-jua text-3xl text-primary">안녕하세요</div>
                <div th:text="${name + '님'}" class="text-center font-jua text-3xl text-primary pb-4">
                </div>
            </div>

            <!-- User stats -->
            <div class="space-y-2">
                <!-- Temperature reading -->
                <div class="flex flex-col">
                    <span class="font-inter text-lg text-text">나의 팀플 온도</span>
                    <span th:text="${temp + '°C'}" class="font-inter text-lg text-primary"></span>
                </div>
                <br>

                <!-- 유저 스텟 -->
                <h2 class="font-bold text-primary">꼼꼼해요!</h2>
                <div>
                    <svg height="0" width="0" xmlns="http://www.w3.org/2000/svg" viewBox="-4.79 -4.79 57.52 57.52">
                        <g>
                            <path id="star" d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z">

                            </path>
                        </g>
                    </svg>
                    <svg id="star-collection" width="100%" viewBox="0 0 250 50" xmlns="http://www.w3.org/2000/svg">

                        <clipPath id="star-coll">
                            <use x=0 y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                            <use x="50" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                            <use x="100" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                            <use x="150" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                            <use x="200" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                        </clipPath>
                        <g stroke="#ED8A19" fill="#dedede" stroke-width="2px">
                            <use x=1 y="0" href="#star"  />
                            <use x="50" y="0" href="#star"  />
                            <use x="100" y="0" href="#star"  />
                            <use x="150" y="0" href="#star"  />
                            <use x="200" y="0" href="#star"  /></g>
                        <rect th:data-value="${rating.criteria1()}" clip-path="url(#star-coll)" class="star-slider" x="-200" y="0" width="200" height="50" fill="#ED8A19" />
                    </svg>
                </div>
                <h2 class="font-bold text-primary">대화가 잘 통해요!</h2>
                <div>
                    <svg height="0" width="0" xmlns="http://www.w3.org/2000/svg" viewBox="-4.79 -4.79 57.52 57.52">
                        <g>
                            <path id="star" d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z">

                            </path>
                        </g>
                    </svg>
                    <svg id="star-collection" width="100%" viewBox="0 0 250 50" xmlns="http://www.w3.org/2000/svg">

                        <clipPath id="star-coll">
                            <use x=0 y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                            <use x="50" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                            <use x="100" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                            <use x="150" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                            <use x="200" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                        </clipPath>
                        <g stroke="#ED8A19" fill="#dedede" stroke-width="2px">
                            <use x=1 y="0" href="#star"  />
                            <use x="50" y="0" href="#star"  />
                            <use x="100" y="0" href="#star"  />
                            <use x="150" y="0" href="#star"  />
                            <use x="200" y="0" href="#star"  /></g>
                        <rect th:data-value="${rating.criteria2()}" clip-path="url(#star-coll)" class="star-slider" x="-200" y="0" width="200" height="50" fill="#ED8A19" />
                    </svg>
                </div>
                <h2 class="font-bold text-primary">기한을 잘 지켜요!</h2>
                <div>
                    <svg height="0" width="0" xmlns="http://www.w3.org/2000/svg" viewBox="-4.79 -4.79 57.52 57.52">
                        <g>
                            <path id="star" d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z">

                            </path>
                        </g>
                    </svg>
                    <svg id="star-collection" width="100%" viewBox="0 0 250 50" xmlns="http://www.w3.org/2000/svg">

                        <clipPath id="star-coll">
                            <use x=0 y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                            <use x="50" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                            <use x="100" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                            <use x="150" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                            <use x="200" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                        </clipPath>
                        <g stroke="#ED8A19" fill="#dedede" stroke-width="2px">
                            <use x=1 y="0" href="#star"  />
                            <use x="50" y="0" href="#star"  />
                            <use x="100" y="0" href="#star"  />
                            <use x="150" y="0" href="#star"  />
                            <use x="200" y="0" href="#star"  /></g>
                        <rect th:data-value="${rating.criteria3()}" clip-path="url(#star-coll)" class="star-slider" x="-200" y="0" width="200" height="50" fill="#ED8A19" />
                    </svg>
                </div>
                <h2 class="font-bold text-primary">열정적이에요!</h2>
                <div>
                    <svg height="0" width="0" xmlns="http://www.w3.org/2000/svg" viewBox="-4.79 -4.79 57.52 57.52">
                        <g>
                            <path id="star" d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z">

                            </path>
                        </g>
                    </svg>
                    <svg id="star-collection" width="100%" viewBox="0 0 250 50" xmlns="http://www.w3.org/2000/svg">

                        <clipPath id="star-coll">
                            <use x=0 y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                            <use x="50" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                            <use x="100" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                            <use x="150" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                            <use x="200" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                        </clipPath>
                        <g stroke="#ED8A19" fill="#dedede" stroke-width="2px">
                            <use x=1 y="0" href="#star"  />
                            <use x="50" y="0" href="#star"  />
                            <use x="100" y="0" href="#star"  />
                            <use x="150" y="0" href="#star"  />
                            <use x="200" y="0" href="#star"  /></g>
                        <rect th:data-value="${rating.criteria4()}" clip-path="url(#star-coll)" class="star-slider" x="-200" y="0" width="200" height="50" fill="#ED8A19" />
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Panel -->
    <main class="w-3/4 bg-background p-8 overflow-y-auto">
        <!-- Content Header -->
        <div class="flex-1 bg-background">
            <!-- Tabs -->
            <div class="bg-primary">
                <ul class="flex justify-center space-x-4 pt-4" role="tablist">
                    <!-- Active tab -->
                    <li role="presentation">
                        <button class="tab text-white py-2 px-4 focus:outline-none" role="tab" aria-selected="true" data-tab-target="#tab2">할 일</button>
                    </li>
                    <!-- Other tabs -->
                    <li role="presentation">
                        <button class="tab text-secondary py-2 px-4 focus:outline-none" role="tab" data-tab-target="#tab1">프로젝트</button>
                    </li>
                </ul>
            </div>
            <!-- Tab content -->
            <div class="p-8 h-[90%] overflow-y-auto">
                <!-- Content for the first tab -->
                <div role="tabpanel" id="tab1" class="tab-content hidden">
                    <!-- Your content for the first tab goes here -->
                    <!-- For example, the project list as per your second screenshot -->
                    <div id="project-content" class="space-y-4">
                        <!-- Project list header -->
                        <div class="flex justify-between items-center">
                            <h2 class="text-primary font-bold text-lg">프로젝트 목록</h2>
                        </div>
                        <!-- Divider -->
                        <div class="border-t border-shade"></div>
                        <!-- Project item -->
                            <a th:each="project : ${projectList}" th:href="@{'/project/' + ${project.id()}}"
                               class="block mb-4 p-4 bg-white shadow rounded-lg hover:bg-gray-100 transition duration-300 ease-in-out">

                                <div class="flex justify-between items-center mb-2">
                                    <div class="flex items-center">
                                        <i th:if="${project.statusCode().toString() == 'DONE'}" class="fas fa-check-circle mr-2 text-lg"></i>
                                        <h3 th:text="${project.name()}" class="text-lg font-bold font-inter">Project</h3>
                                    </div>
                                    <span th:text="${project.memberCount()} + ' 명'" class="text-primary font-inter">2 명</span>
                                </div>


                                <p class="text-sm font-inter mb-2" th:text="${project.summary()}">
                                    <!-- Summary will be inserted here by Thymeleaf -->
                                </p>

                                <p class="text-sm font-inter mb-2" th:text="'수업: ' + ${project.className()}">
                                    <!-- Class name will be inserted here by Thymeleaf -->
                                </p>

                                <div class="flex justify-between text-sm font-inter mb-2">
                                    <span th:text="'Start: ' + ${#dates.format(project.startDate(), 'yyyy-MM-dd')}"></span>
                                    <span th:text="'End: ' + ${#dates.format(project.endDate(), 'yyyy-MM-dd')}"></span>
                                </div>
                            </a>
                    </div>
                    <button id="projectAddButton" class="fixed bottom-8 right-8 bg-primary text-white px-6 py-4 rounded-full shadow-lg">
                        +
                    </button>
                </div>
                <!-- Content for the second tab (hidden by default) -->
                <div role="tabpanel" id="tab2" class="tab-content active">
                    <div id="task-content" class="flex flex-col space-y-4">
                        <div class="flex justify-between items-center">
                            <h2 class="text-primary font-bold text-lg">할 일 목록</h2>
                        </div>
                        <div class="space-y-6 overflow-y-auto">
                            <div>
                                <h2 class="text-xl italic text-secondary" th:if="${taskList.isEmpty()}">할당된 작업이 없습니다. </h2>
                            </div>
                            <!-- Task item -->
                            <div th:each="task : ${taskList}" class="taskItem flex items-center p-4 bg-white shadow rounded-lg" th:data-project-id="${task.projectId()}">
                                <!-- Custom Checkbox -->
                                <div th:id="'customCheckbox' + ${taskStat.index}"
                                     th:data-task-id="${task.taskId()}"
                                     th:data-task-status="${task.taskStatusCode()}"
                                     class="block cursor-pointer rounded-full border-2 border-gray-300 h-6 w-6 flex items-center justify-center bg-transparent mr-4 statusCheckBox">
                                    <!-- Icons (initially hidden) -->
                                    <i id="runningManIcon" class="fas fa-running text-yellow-500 hidden"></i>
                                    <i id="checkmarkIcon" class="fas fa-check text-green-500 hidden"></i>
                                </div>

                                <!-- Task Details -->
                                <div class="flex-grow">
                                    <!-- Task Name -->
                                    <h3 class="text-lg font-semibold" th:text="${task.taskName()}">Task Name</h3>
                                    <!-- Task Content -->
                                    <p class="text-sm text-gray-600" th:text="${task.taskContent()}">Task content goes here...</p>
                                </div>

                                <!-- Due Date and Assigned Person -->
                                <div class="ml-4 text-right">
                                    <div class="text-sm text-gray-500" th:text="${#temporals.format(task.dueDateTime(), 'yyyy-MM-dd HH:mm')}">Due: 2023-12-31</div>
                                    <div class="text-sm text-gray-700" >Assigned to:
                                        <span th:each="name : ${task.memberName()}">
                                            <span th:text="${name}"></span><br>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- More tasks here -->
                        </div>

                        <!-- Add more dates and tasks as needed -->
                    </div>
                </div>
            </div>
        </div>

        <!-- modal -->
        <div id="projectModal" class="hidden">
        <!-- Modal Background -->
            <div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" id="my-modal"></div>

            <!-- Modal -->
            <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-md shadow-lg w-1/3">
                <!-- Modal Header -->
                <div class="bg-primary text-white text-xl font-bold py-4 px-6 rounded-t-md">
                    Add New Project
                </div>

                <!-- Modal Body -->
                <div class="p-6">
                    <form id="newProjectForm">
                        <!-- Project Name -->
                        <div class="mb-4">
                            <label for="projectName" class="block text-gray-700 text-sm font-bold mb-2">Name of the Project:</label>
                            <input type="text" id="projectName" name="projectName" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                        </div>

                        <!-- Project Summary -->
                        <div class="mb-4">
                            <label for="projectSummary" class="block text-gray-700 text-sm font-bold mb-2">Project Summary:</label>
                            <textarea id="projectSummary" name="projectSummary" rows="3" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required></textarea>
                        </div>

                        <!-- Class Name -->
                        <div class="mb-4">
                            <label for="className" class="block text-gray-700 text-sm font-bold mb-2">Class Name of the Project:</label>
                            <input type="text" id="className" name="className" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                        </div>

                        <!-- Project Start Date -->
                        <div class="mb-4">
                            <label for="startDate" class="block text-gray-700 text-sm font-bold mb-2">Start Date:</label>
                            <input type="date" id="startDate" name="startDate" class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                        </div>

                        <!-- Project End Date -->
                        <div class="mb-4">
                            <label for="endDate" class="block text-gray-700 text-sm font-bold mb-2">End Date:</label>
                            <input type="date" id="endDate" name="endDate" class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                        </div>

                        <!-- Modal Footer -->
                        <div class="flex justify-end pt-2">
                            <button id="projectModalSubmit" type="submit" class="px-4 bg-primary text-white p-3 rounded-lg hover:bg-primary-dark focus:outline-none focus:shadow-outline">Create</button>
                            <button type="button" class="ml-2 px-4 bg-gray-500 text-white p-3 rounded-lg hover:bg-gray-600 focus:outline-none focus:shadow-outline" onclick="document.getElementById('projectModal').classList.add('hidden')">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script>

    const baseURL = window.location.origin;

    //dropdown setup
    document.getElementById('dropdown-button').addEventListener('click', function() {
        var dropdownMenu = document.getElementById('dropdown-menu');
        dropdownMenu.classList.toggle('hidden');
    });

    document.addEventListener('click', function(event) {
        var dropdownMenu = document.getElementById('dropdown-menu');
        var dropdownButton = document.getElementById('dropdown-button');

        // Check if the clicked area is outside the dropdown and button
        if (!dropdownMenu.contains(event.target) && !dropdownButton.contains(event.target)) {
            dropdownMenu.classList.add('hidden');
        }
    });

    //tab setup
    document.addEventListener('DOMContentLoaded', () => {
        const tabs = document.querySelectorAll('.tab');
        const tabContents = document.querySelectorAll('.tab-content');

        tabs.forEach(tab => {
            tab.addEventListener('click', () => {

                tabs.forEach(t => {
                    t.classList.remove('text-white');
                    t.classList.add('text-secondary');
                });
                // Add 'text-white' to the clicked tab and remove 'text-secondary'
                tab.classList.add('text-white');
                tab.classList.remove('text-secondary');

                // Hide all tab contents
                tabContents.forEach(tc => tc.classList.add('hidden'));
                // Show the targeted tab content
                const target = document.querySelector(tab.dataset.tabTarget);
                target.classList.remove('hidden');
            });
        });
    });


    //signout button
    document.getElementById('signout-btn').addEventListener('click', function() {
        $.ajax({
            url: baseURL + "/logout",
            type: 'POST', // Adjust as needed
            success: function(data) {
                console.log(data);
                window.location.href = '/';
            },
            error: function(error) {
                console.log("Error: " + error);
            }
        });
    });

    //project modal
    document.getElementById('projectAddButton').addEventListener('click', function() {
        let modal = document.getElementById('projectModal');
        modal.classList.remove('hidden');
    });

    //project modal submit
    document.getElementById('projectModalSubmit').addEventListener('click', function() {
        let modal = document.getElementById('projectModal');
        modal.classList.add('hidden');
        // call api to add project
        let projectName = document.getElementById('projectName').value;
        let projectSummary = document.getElementById('projectSummary').value;
        let className = document.getElementById('className').value;
        let startDate = document.getElementById('startDate').value;
        let endDate = document.getElementById('endDate').value;
        let data = {
            "name": projectName,
            "summary": projectSummary,
            "className": className,
            "startDate": startDate,
            "endDate": endDate
        };
        $.ajax({
            type: "POST",
            url: baseURL + "/projects",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data){
                alert("프로젝트가 생성되었습니다.")
                window.location.reload();
            },
            failure: function(errMsg) {
                alert(errMsg);
            }
        });
    });

    //notification
    function handleNotificationClick(element) {
        var noticeUrl = element.getAttribute('data-notice-url');
        console.log(noticeUrl);
        $.ajax({
            url: noticeUrl,
            type: 'POST', // Adjust as needed
            success: function(data) {
                if (data.code === 201) {
                    window.location.href = data.data;
                }
                else if (data.code === 202) {
                    alert("프로젝트 참여에 성공했습니다.");
                    window.location.reload();
                }
            },
            error: function(error) {
                if (error.status === 403) {
                    alert("권한이 없습니다.");
                }
                else if (error.status === 405) {
                    alert("이미 평가 완료한 프로젝트입니다.");
                }
                else if (error.status === 500) {
                    alert("Server error.");
                    console.log(error);
                }
                else {
                    alert("API call failed.");
                    console.log(error);
                }
            }
        });
    }

    //delete notification
    function handleDeleteNotification(element) {
        // Add your AJAX call or other logic to delete the notification
        var notificationId = element.getAttribute('data-notif-id');
        // For example, using jQuery AJAX:
        $.ajax({
            url: '/notification/delete/' + notificationId, // Modify with your actual endpoint
            type: 'POST',
            success: function(response) {
                // Handle successful deletion
                // Optionally, remove the notification from the DOM
                var notificationDiv = element.closest('.notification-item');
                if (notificationDiv) {
                    notificationDiv.remove();
                }
                var notificationCount = document.getElementById('notification-count');
                if (notificationCount) {
                    let count = parseInt(notificationCount.innerText) - 1;
                    if (count <= 0) {
                        notificationCount.remove();
                    }
                    else {
                        notificationCount.innerText = count.toString();
                    }

                }
            },
            error: function(error) {
                // Handle error
                console.log(error);
                alert('알림 삭제에 실패했습니다.');
            }
        });
    }

    //go to project
    document.addEventListener('DOMContentLoaded', (event) => {
        const taskItems = document.getElementsByClassName('taskItem');
        for (let i = 0; i < taskItems.length; i++) {
            taskItems[i].addEventListener('click', function(event) {
                const projectId = event.target.closest('.taskItem').getAttribute('data-project-id');
                console.log(projectId);
                gotoProject(projectId);
            });
        }
    });

    function gotoProject(projectId) {
        window.location.href = '/project/' + projectId;
    }

    //task checkbox
    // 0: unchecked, 1: in-progress, 2: completed
    const TaskStatus = ['TODO', 'DOING', 'DONE']

    document.addEventListener('DOMContentLoaded', (event) => {
        const checkboxes = document.getElementsByClassName('statusCheckBox')
        for (let i = 0; i < checkboxes.length; i++) {
            updateIcon(checkboxes[i]);
        }
    });

    function updateIcon(element) {
        const taskStatus = element.getAttribute('data-task-status');
        const checkboxState = (TaskStatus.indexOf(taskStatus));
        const runningManIcon = element.querySelector('#runningManIcon');
        const checkmarkIcon = element.querySelector('#checkmarkIcon');

        // Update icons and background color based on state
        switch (checkboxState) {
            case 0: // unchecked
                runningManIcon.classList.add('hidden');
                checkmarkIcon.classList.add('hidden');
                element.style.backgroundColor = 'transparent';
                break;
            case 1: // in-progress
                runningManIcon.classList.remove('hidden');
                checkmarkIcon.classList.add('hidden');
                element.style.backgroundColor = 'transparent';
                break;
            case 2: // completed
                runningManIcon.classList.add('hidden');
                checkmarkIcon.classList.remove('hidden');
                element.style.backgroundColor = 'transparent';
                break;
        }
    }

    //star slider
    document.addEventListener('DOMContentLoaded', (event) => {
        const sliders = document.getElementsByClassName('star-slider')
        for (let i = 0; i < sliders.length; i++) {
            sliders[i].setAttribute("width", parseFloat(sliders[i].getAttribute("data-value")) * 50 + 200);
        }
    });


</script>
</body>
</html>