<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>NoFreeRider</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Jua&family=Nanum+Gothic+Coding:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'text': '#10181e',
                        'background': '#ffffff',
                        'shade': '#D9D9D9',
                        'primary': '#18517b',
                        'secondary': '#aad1ee',
                        'tertiary': '#226faa',
                        'accent': '#4e4ea2',
                    },
                    fontFamily: {
                        'sans': ['Open Sans', 'sans-serif'],
                        'inter': ['Inter', 'sans-serif'],
                        'jua': ['Jua', 'sans-serif'],
                        'nanum': ['Nanum Gothic Coding', 'sans-serif'],
                    },
                    fontSize: {
                        'base': '16px',
                        'lg': '25.8px',
                        'xl': '41.8px',
                        '2xl': '67.8px',
                    },
                }
            }
        }
    </script>
    <style>
        @tailwind base;
        @tailwind components;
        @tailwind utilities;

        :root {
            font-family: 'nanum', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #10181e;
            background-color: #ffffff;
        }

        @layer base {

            h1 {
                @apply text-2xl;
            }
            h2 {
                @apply text-xl;
            }
            h3 {
                @apply text-lg;
            }
        }

        nav .title {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            font-weight: bold;
            font-family: 'Inter', sans-serif;
        }

        #tooltip::before {
            content: '';
            position: absolute;
            left: -15px; /* Adjust based on the size of the triangle */
            bottom: 5%; /* Adjust if necessary to align with the input field */
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right: 15px solid white; /* Color of the triangle should match the tooltip background */
            transform: translateY(-50%);
        }

    </style>
</head>
<body>
<!--floating div-->
<div id="memberOptionsModal" class="hidden fixed bg-white p-4 rounded-lg shadow-lg z-10 flex flex-col space-y-2"
     th:data-isleader="${isLeader}">
    <!-- Modal Content -->

    <!-- View Member Button -->
    <button onclick="viewMember(this)"
            id="ViewMemberButton" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded min-w-fit">
        View Member
    </button>

    <!-- Set Leader Button -->
    <button id="setLeaderButton" class="bg-green-500 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded min-w-fit"
        th:if="${isLeader && project.statusCode().toString() == 'DOING'}"
        onclick="changeLeader(this)">
        Set Leader
    </button>

    <!-- Remove Member Button -->
    <button id="removeMemberButton" class="bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded min-w-fit"
            th:if="${isLeader && project.statusCode().toString() == 'DOING'}"
            onclick="removeMember(this)">
        Remove Member
    </button>

    <!-- Close Button -->
    <button onclick="closeModal()" class="bg-gray-500 hover:bg-gray-700 text-white font-semibold py-2 px-4 rounded min-w-fit">
        Close
    </button>
</div>


<nav class="bg-primary h-[10vh]">
    <div class="w-[434px] mx-auto text-2xl title">
        <h1>NoFreeRider</h1>
    </div>
    <div class="w-full h-full flex flex-row justify-end items-center px-[51px] space-x-2">
        <div class="relative" id="dropdown-container">
            <button type="button" id="dropdown-button" class="flex items-center justify-center w-12 h-12 text-gray-800 bg-gray-300 rounded-full focus:outline-none">
                <span class="material-icons">notifications</span>
                <span id="notification-count" th:if="${notificationList.length != 0}" th:text="${notificationList.length}" class="absolute top-0 right-0 flex items-center justify-center w-6 h-6 text-white bg-red-600 rounded-full"></span>
            </button>
            <div class="absolute hidden right-0 mt-2 w-64 bg-white rounded-md shadow-xl z-20 overflow-y-auto" style="max-height: 16rem;" id="dropdown-menu">
                <div class="flex flex-col divide-y divide-gray-200">
                    <div th:each="notification : ${notificationList}" class="flex items-center hover:bg-gray-50 notification-item">
                        <a href="#"
                           th:data-notif-id="${notification.notice_id()}"
                           th:data-notice-url="${notification.notice_url()}"
                           onclick="handleNotificationClick(this);"
                           class="block p-4">
                            <span th:text="${notification.notice_title()}" class="block text-lg font-medium text-gray-900"></span>
                            <span th:text="${notification.notice_content()}" class="block text-sm text-gray-600"></span>
                        </a>
                        <!-- Delete Button -->
                        <button th:data-notif-id="${notification.notice_id()}"
                                onclick="handleDeleteNotification(this);"
                                class="text-red-500 hover:text-red-700 p-4 ml-auto">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <button id="signout-btn" class="button text-lg bg-shade text-center w-[170px] h-[60px]">Sign Out</button>
    </div>
</nav>

<!--main-->
<div class="flex h-[90vh]">
    <!-- Sidebar with user overview and project list -->
    <aside class="w-1/4 h-full bg-secondary p-8 space-y-4">
        <div class="bg-primary text-white p-4 rounded-2xl overflow-x-hidden">
            <h2 class="text-xl font-bold">Overview</h2>
            <!-- Form fields or user info here -->
            <div class="mt-4 space-y-2">
                <!-- Placeholder for form fields -->
                <div class="bg-white p-2 rounded overflow-x-auto">
                    <span class="text-md text-black">수업이름</span>
                    <br>
                    <span class="text-lg text-black" th:text="${project.className()}">YC Tech</span>
                </div>
                <div class="bg-white p-2 rounded overflow-x-auto">
                    <span class="text-md text-black">프로젝트 일자</span>
                    <br>
                    <span class="text-lg text-black" th:text="${#dates.format(project.startDate(), 'yyyy.MM.dd')} + ' ~ ' + ${#dates.format(project.endDate(), 'yyyy.MM.dd')}"></span>
                </div>
                <!-- ... -->
            </div>
            <button th:if="${project.statusCode().toString() == 'DOING'}" onclick="changeStatus()" class="mt-4 bg-accent text-white p-2 rounded w-full">작업 중</button>
            <button th:if="${project.statusCode().toString() == 'DONE'}" onclick="" class="mt-4 bg-green-500 text-white p-2 rounded w-full">작업 완료</button>
            <!-- Button Group for Edit and Delete -->
            <div class="flex justify-between mt-4">
                <!-- Edit Project Button -->
                <button th:if="${isLeader}" onclick="editProject(this)" class="bg-blue-500 text-white p-2 rounded">프로젝트 수정</button>
                <!-- Delete Project Button -->
                <button th:if="${isLeader}" onclick="deleteProject()" class="bg-red-500 text-white p-2 rounded">프로젝트 삭제</button>
            </div>
        </div>
        <!-- List of projects or classes -->
        <div class="bg-primary text-white p-4 rounded-2xl">
            <h2 class="text-xl font-bold">참여 인원</h2>
            <!-- Form fields or user info here -->
            <div class="mt-4 space-y-2">
                <!-- Placeholder for form fields -->
                <div class="studentInfo bg-white p-2 rounded text-red"
                     th:each="member : ${memberList}" onclick="showMemberOptionsModal(event)"
                     th:data-member-id="${member.id()}"
                     th:data-isleader="${isLeaderList[memberStat.index]}">
                    <div class="flex justify-between items-center">
                        <!-- Member Name -->
                        <div>
                            <span class="text-md text-black" th:text="${member.name()} + '님 ' + ${member.studentId()}"></span>
                        </div>
                    </div>
                </div>
                <!-- Add Member Button -->
                <div th:if="${isLeader && project.statusCode().toString() == 'DOING'}" class="relative w-full">
                    <button id="addMemberButton" onclick="toggleTooltip()" class="w-full bg-white p-2 rounded flex items-center justify-center hover:bg-gray-100 transition duration-300 ease-in-out">
                        <span class="text-md text-black font-semibold flex items-center">
                            <i class="fas fa-plus mr-2"></i> Add Member
                        </span>
                    </button>
                    <!-- Tooltip -->
                    <div id="tooltip" class="absolute left-full bottom-0 mt-2 w-64 bg-white rounded-md shadow-xl z-20 p-4 ml-4 hidden">
                        <input id="newMemberEmail" type="email" class="border border-gray-300 p-2 rounded w-full mb-2 text-black" placeholder="Member Email">
                        <button id="checkMember" class="bg-secondary text-white p-2 rounded w-full">VIEW MEMBER</button>
                        <button id="addMemberADD" class="bg-primary text-white p-2 rounded w-full">ADD</button>
                    </div>
                </div>
                <!-- ... -->
            </div>
        </div>
    </aside>

    <!-- Main content with task list -->
    <main class="flex-1 bg-white p-8 h-[90vh] overflow-y-auto">
        <!-- header -->
        <div class="flex items-center text-xl text-primary font-bold">
            <!-- Icon Button -->
            <a href="/main" class="ml-2 text-primary hover:text-primary-dark">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
            <span class="mx-4">></span>
            <span th:text="${project.name()}"></span>
        </div>
        <div class="space-y-6">
            <div>
                <h2 class="text-xl italic text-secondary" th:if="${taskList.isEmpty()}">할당된 작업이 없습니다. </h2>
            </div>
            <!-- Task item -->
            <div th:each="task : ${taskList}" class="taskItem relative flex items-center p-4 bg-white shadow rounded-lg">
            <!-- Custom Checkbox -->
                <div th:id="'customCheckbox' + ${taskStat.index}"
                     th:data-task-id="${task.taskId()}"
                     th:data-task-status="${task.taskStatusCode()}"
                     class="block cursor-pointer rounded-full border-2 border-gray-300 h-6 w-6 flex items-center justify-center bg-transparent mr-4 statusCheckBox" onclick="toggleCheckboxState(this)">
                    <!-- Icons (initially hidden) -->
                    <i id="runningManIcon" class="fas fa-running text-yellow-500 hidden"></i>
                    <i id="checkmarkIcon" class="fas fa-check text-green-500 hidden"></i>
                </div>

                <!-- Task Details -->
                <div class="flex-grow">
                    <!-- Task Name -->
                    <h3 class="text-lg font-semibold" th:text="${task.taskName()}">Task Name</h3>
                    <!-- Task Content -->
                    <p class="text-sm text-gray-600" th:text="${task.taskContent()}">Task content goes here...</p>
                </div>

                <!-- Due Date and Assigned Person -->
                <div class="ml-4 text-right">
                    <div class="text-sm text-gray-500" th:text="${#temporals.format(task.dueDateTime(), 'yyyy-MM-dd HH:mm')}">Due: 2023-12-31</div>
                    <div class="text-sm text-gray-700" >Assigned to:
                        <span th:each="name : ${task.memberName()}">
                            <span th:text="${name}"></span><br>
                        </span>
                    </div>
                </div>
                <button onclick="deleteTask(this)" th:data-task-id="${task.taskId()}" class="absolute top-0 right-0 text-red-500 hover:text-red-700 focus:outline-none">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
        <!-- Button to add a new task -->
        <button th:if="${project.statusCode().toString() == 'DOING'}"
                class="fixed bottom-8 right-8 bg-primary text-white p-4 rounded-full shadow-lg"
                onclick="document.getElementById('task-modal').style.display='block'">
            +
        </button>

        <!-- modal -->
        <!-- Task Modal Background -->
        <div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" id="task-modal" style="display: none;">
            <!-- Task Modal -->
            <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-md shadow-lg w-1/3">
                <!-- Modal Header -->
                <div class="bg-primary text-white text-xl font-bold py-4 px-6 rounded-t-md">
                    Add New Task
                </div>

                <!-- Modal Body -->
                <div class="p-6">
                    <form id="newTaskForm">
                        <!-- Task Name -->
                        <div class="mb-4">
                            <label for="taskName" class="block text-gray-700 text-sm font-bold mb-2">Task Name:</label>
                            <input type="text" id="taskName" name="taskName" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                        </div>

                        <!-- Task Description -->
                        <div class="mb-4">
                            <label for="taskDescription" class="block text-gray-700 text-sm font-bold mb-2">Task Description:</label>
                            <textarea id="taskDescription" name="taskDescription" rows="3" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required></textarea>
                        </div>

                        <!-- Task Due Date -->
                        <div class="mb-4">
                            <label for="dueDate" class="block text-gray-700 text-sm font-bold mb-2">Due Date:</label>
                            <input type="datetime-local" id="dueDate" name="dueDate" class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                        </div>

                        <!-- Task Members -->
                        <div class="mb-4">
                            <label class="block font-bold text-lg mb-2">Pick Members</label>
                            <ul class="list-none m-0 p-0 mt-1 border border-gray-700 shadow-md">
                                <li th:each="member : ${memberList}">
                                    <label class="cursor-pointer block w-full px-4 py-2 hover:bg-gray-700 hover:text-white">
                                        <input type="checkbox" name="members" th:value="${member.studentId()}" class="mr-2 studentCheckBox" th:text="${member.name()} + ' ' + ${member.studentId()}">
                                    </label>
                                </li>
                            </ul>
                        </div>

                        <!-- Modal Footer -->
                        <div class="flex justify-end pt-2">
                            <button type="submit" class="px-4 bg-primary text-white p-3 rounded-lg hover:bg-primary-dark focus:outline-none focus:shadow-outline">Save</button>
                            <button type="button" class="ml-2 px-4 bg-gray-500 text-white p-3 rounded-lg hover:bg-gray-600 focus:outline-none focus:shadow-outline" onclick="document.getElementById('task-modal').style.display='none'">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Member Modal -->
        <!-- Modal Background -->
        <div id="userRatingModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
            <!-- Modal Content -->
            <div class="w-[40%] min-h-fit mt-10 bg-secondary p-8 m-auto rounded-lg">
                <div class="flex flex-col space-y-4">
                    <!-- User greeting -->
                    <div>
                        <div id="memberName" class="text-center font-jua text-3xl text-primary pb-4">
                            <!-- User's Name -->
                        </div>
                        <div id="memberMajor" class="text-center font-inter text-md text-primary">
                            <!-- User's Major -->
                        </div>
                        <div id="memberEmail" class="text-center font-inter text-md text-primary">
                            <!-- User's Email -->
                        </div>
                    </div>

                    <!-- User stats -->
                    <div class="space-y-2">
                        <!-- Temperature reading -->
                        <div class="flex">
                            <span class="font-inter text-lg text-text mr-3">나의 팀플 온도:</span>
                            <span id="memberTemp" class="font-jua text-lg text-primary"></span>
                        </div>
                        <!-- 유저 스텟 -->
                        <h2 class="font-bold text-primary">꼼꼼해요!</h2>
                        <div class="w-[70%] mx-auto">
                            <svg height="0" width="0" xmlns="http://www.w3.org/2000/svg" viewBox="-4.79 -4.79 57.52 57.52">
                                <g>
                                    <path id="star" d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z">

                                    </path>
                                </g>
                            </svg>
                            <svg id="star-collection" width="100%" viewBox="0 0 250 50" xmlns="http://www.w3.org/2000/svg">

                                <clipPath id="star-coll">
                                    <use x=0 y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                    <use x="50" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                    <use x="100" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                    <use x="150" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                    <use x="200" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                </clipPath>
                                <g stroke="#ED8A19" fill="#dedede" stroke-width="2px">
                                    <use x=1 y="0" href="#star"  />
                                    <use x="50" y="0" href="#star"  />
                                    <use x="100" y="0" href="#star"  />
                                    <use x="150" y="0" href="#star"  />
                                    <use x="200" y="0" href="#star"  /></g>
                                <rect clip-path="url(#star-coll)" class="star-slider" x="-200" y="0" width="200" height="50" fill="#ED8A19" />
                            </svg>
                        </div>
                        <h2 class="font-bold text-primary">대화가 잘 통해요!</h2>
                        <div class="w-[70%] mx-auto">
                            <svg height="0" width="0" xmlns="http://www.w3.org/2000/svg" viewBox="-4.79 -4.79 57.52 57.52">
                                <g>
                                    <path id="star" d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z">

                                    </path>
                                </g>
                            </svg>
                            <svg id="star-collection" width="100%" viewBox="0 0 250 50" xmlns="http://www.w3.org/2000/svg">

                                <clipPath id="star-coll">
                                    <use x=0 y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                    <use x="50" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                    <use x="100" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                    <use x="150" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                    <use x="200" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                </clipPath>
                                <g stroke="#ED8A19" fill="#dedede" stroke-width="2px">
                                    <use x=1 y="0" href="#star"  />
                                    <use x="50" y="0" href="#star"  />
                                    <use x="100" y="0" href="#star"  />
                                    <use x="150" y="0" href="#star"  />
                                    <use x="200" y="0" href="#star"  /></g>
                                <rect clip-path="url(#star-coll)" class="star-slider" x="-200" y="0" width="200" height="50" fill="#ED8A19" />
                            </svg>
                        </div>
                        <h2 class="font-bold text-primary">기한을 잘 지켜요!</h2>
                        <div class="w-[70%] mx-auto">
                            <svg height="0" width="0" xmlns="http://www.w3.org/2000/svg" viewBox="-4.79 -4.79 57.52 57.52">
                                <g>
                                    <path id="star" d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z">

                                    </path>
                                </g>
                            </svg>
                            <svg id="star-collection" width="100%" viewBox="0 0 250 50" xmlns="http://www.w3.org/2000/svg">

                                <clipPath id="star-coll">
                                    <use x=0 y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                    <use x="50" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                    <use x="100" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                    <use x="150" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                    <use x="200" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                </clipPath>
                                <g stroke="#ED8A19" fill="#dedede" stroke-width="2px">
                                    <use x=1 y="0" href="#star"  />
                                    <use x="50" y="0" href="#star"  />
                                    <use x="100" y="0" href="#star"  />
                                    <use x="150" y="0" href="#star"  />
                                    <use x="200" y="0" href="#star"  /></g>
                                <rect clip-path="url(#star-coll)" class="star-slider" x="-200" y="0" width="200" height="50" fill="#ED8A19" />
                            </svg>
                        </div>
                        <h2 class="font-bold text-primary">열정적이에요!</h2>
                        <div class="w-[70%] mx-auto">
                            <svg height="0" width="0" xmlns="http://www.w3.org/2000/svg" viewBox="-4.79 -4.79 57.52 57.52">
                                <g>
                                    <path id="star" d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z">

                                    </path>
                                </g>
                            </svg>
                            <svg id="star-collection" width="100%" viewBox="0 0 250 50" xmlns="http://www.w3.org/2000/svg">

                                <clipPath id="star-coll">
                                    <use x=0 y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                    <use x="50" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                    <use x="100" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                    <use x="150" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                    <use x="200" y="0" href="#star" stroke="#ED8A19" fill="#ED8A19" />
                                </clipPath>
                                <g stroke="#ED8A19" fill="#dedede" stroke-width="2px">
                                    <use x=1 y="0" href="#star"  />
                                    <use x="50" y="0" href="#star"  />
                                    <use x="100" y="0" href="#star"  />
                                    <use x="150" y="0" href="#star"  />
                                    <use x="200" y="0" href="#star"  /></g>
                                <rect clip-path="url(#star-coll)" class="star-slider" x="-200" y="0" width="200" height="50" fill="#ED8A19" />
                            </svg>
                        </div>

                    </div>

                    <!-- Close Button -->
                    <button onclick="closeUserModal()" class="bg-gray-500 text-white font-bold py-2 px-4 rounded mt-4 w-full">
                        Close
                    </button>
                </div>
            </div>
        </div>

        <!-- Project Edit Modal -->
        <div id="projectEditModal" class="hidden">
            <!-- Modal Background -->
            <div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" id="my-edit-modal"></div>

            <!-- Modal Main -->
            <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-md shadow-lg w-1/3 min-w-[352px]">
                <!-- Modal Header -->
                <div class="bg-primary text-white text-xl font-bold py-4 px-6 rounded-t-md">
                    Edit Project Info
                </div>

                <!-- Modal Body -->
                <div class="p-6">
                    <form id="editProjectForm">
                        <!-- Project Name -->
                        <div class="mb-4">
                            <label for="editProjectName" class="block text-gray-700 text-sm font-bold mb-2">Name of the Project:</label>
                            <input type="text" id="editProjectName" name="projectName" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                        </div>

                        <!-- Project Summary -->
                        <div class="mb-4">
                            <label for="editProjectSummary" class="block text-gray-700 text-sm font-bold mb-2">Project Summary:</label>
                            <textarea id="editProjectSummary" name="projectSummary" rows="3" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required></textarea>
                        </div>

                        <!-- Class Name -->
                        <div class="mb-4">
                            <label for="editClassName" class="block text-gray-700 text-sm font-bold mb-2">Class Name of the Project:</label>
                            <input type="text" id="editClassName" name="className" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                        </div>

                        <!-- Project Start Date -->
                        <div class="mb-4">
                            <label for="editStartDate" class="block text-gray-700 text-sm font-bold mb-2">Start Date:</label>
                            <input type="date" id="editStartDate" name="startDate" class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                        </div>

                        <!-- Project End Date -->
                        <div class="mb-4">
                            <label for="editEndDate" class="block text-gray-700 text-sm font-bold mb-2">End Date:</label>
                            <input type="date" id="editEndDate" name="endDate" class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                        </div>

                        <!-- Modal Footer -->
                        <div class="flex justify-end pt-2">
                            <button onclick="editProjectSubmit(this)" id="editProjectModalSubmit" type="submit" class="px-4 bg-gray-400 text-white p-3 rounded-lg hover:bg-gray-400 focus:outline-none focus:shadow-outline" disabled>Edit</button>
                            <button type="button" class="ml-2 px-4 bg-gray-500 text-white p-3 rounded-lg hover:bg-gray-600 focus:outline-none focus:shadow-outline" onclick="document.getElementById('projectEditModal').classList.add('hidden')">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script>

    const baseURL = window.location.origin;

    //signout button
    document.getElementById('signout-btn').addEventListener('click', function() {
        $.ajax({
            url: baseURL + "/logout",
            type: 'POST', // Adjust as needed
            success: function(data) {
                console.log(data);
                window.location.href = '/';
            },
            error: function(error) {
                console.log("Error: " + error);
            }
        });
    });

    //dropdown setup
    document.getElementById('dropdown-button').addEventListener('click', function() {
        var dropdownMenu = document.getElementById('dropdown-menu');
        dropdownMenu.classList.toggle('hidden');
    });

    document.addEventListener('click', function(event) {
        var dropdownMenu = document.getElementById('dropdown-menu');
        var dropdownButton = document.getElementById('dropdown-button');

        // Check if the clicked area is outside the dropdown and button
        if (!dropdownMenu.contains(event.target) && !dropdownButton.contains(event.target)) {
            dropdownMenu.classList.add('hidden');
        }
    });

    function toggleTooltip() {
        var tooltip = document.getElementById('tooltip');
        tooltip.classList.remove('hidden');
    }

    // Hide tooltip when clicking outside
    document.addEventListener('click', function(event) {
        var tooltip = document.getElementById('tooltip');
        var button = document.querySelector('#addMemberButton'); // Replace with a more specific selector if needed

        if (tooltip == null || button == null) {
            return;
        }

        // Check if the clicked area is outside the tooltip and button
        if (!tooltip.contains(event.target) && !button.contains(event.target)) {
            tooltip.classList.add('hidden');
        }
    });


    document.addEventListener('DOMContentLoaded', (event) => {
        // Prevent event from closing tooltip when clicking inside
        let tooltip = document.getElementById('tooltip');
        if (tooltip == null) {
            return;
        }
        document.getElementById('tooltip').addEventListener('click', function(event) {
            event.stopPropagation();
        });

        //check member button
        document.getElementById('checkMember').addEventListener('click', function(event) {
            event.preventDefault();
            var tooltip = document.getElementById('tooltip');
            tooltip.classList.add('hidden');
            var newMemberEmail = document.getElementById('newMemberEmail').value;

            const modal = document.getElementById('userRatingModal');
            const memberNameLabel = modal.querySelector('#memberName');
            const memberMajorLabel = modal.querySelector('#memberMajor');
            const memberEmailLabel = modal.querySelector('#memberEmail');
            const memberTempLabel = modal.querySelector('#memberTemp');
            const memberRatings = modal.querySelectorAll('.star-slider');

            $.ajax(
                {
                    url: baseURL + '/member/info/email/' + newMemberEmail,
                    type: 'GET',
                    success: function (data) {
                        console.log(data);
                        memberNameLabel.innerText = data.data.name + " " + data.data.studentId;
                        memberMajorLabel.innerText = data.data.major;
                        memberEmailLabel.innerText = data.data.email;
                        memberTempLabel.innerText = data.data.temp + '°C';
                        memberRatings[0].setAttribute('width', data.data.criteria1 * 50 + 200);
                        memberRatings[1].setAttribute('width', data.data.criteria2 * 50 + 200);
                        memberRatings[2].setAttribute('width', data.data.criteria3 * 50 + 200);
                        memberRatings[3].setAttribute('width', data.data.criteria4 * 50 + 200);
                        document.getElementById('userRatingModal').classList.remove('hidden');
                    },
                    error: function(error) {
                        console.log(error);
                        if(error.status === 404)
                            alert('존재하지 않는 사용자입니다.');
                        else
                            alert('사용자 정보를 불러오는데 실패했습니다.');
                    }
                });
        });

        // Add memberId button
        document.getElementById('addMemberADD').addEventListener('click', function(event) {
            event.preventDefault();
            var tooltip = document.getElementById('tooltip');
            tooltip.classList.add('hidden');
            var newMemberEmail = document.getElementById('newMemberEmail').value;
            const projectId = location.pathname.split('/')[2];
            const data = {
                memberEmail: newMemberEmail
            };
            // curl api
            // generate invite link
            $.ajax({
                url: baseURL + '/projects/' + projectId + '/invite',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(data),
                success: function(data) {
                    console.log(data);
                    alert('초대 링크가 전송되었습니다.');
                },
                error: function(request) {
                    if(request.status === 409)
                        alert('이미 프로젝트에 참여중인 사용자입니다.')
                    else if(request.status === 403)
                        alert('권한이 없습니다.')
                    else if(request.status === 404)
                        alert('존재하지 않는 사용자입니다.')
                    else if(request.status === 500)
                        alert('서버 오류입니다.')
                    else
                        alert('초대 링크 전송에 실패했습니다.')
                }
            });
        });
    });

    //remove memberId
    function removeMember(element) {
        const projectId = location.pathname.split('/')[2];
        const memberId = element.closest("#memberOptionsModal").getAttribute('data-member-id');
        console.log(memberId);
        // curl api
        // generate invite link
        $.ajax({
            url: baseURL + '/projects/' + projectId + '/member/' + memberId,
            type: 'DELETE',
            success: function(data) {
                console.log(data);
                alert('프로젝트에서 제외되었습니다.');
                window.location.reload();
            },
            error: function(request) {
                if(request.status === 403)
                    alert('권한이 없습니다.')
                else if(request.status === 404)
                    alert('존재하지 않는 사용자입니다.')
                else if(request.status === 500)
                    alert('서버 오류입니다.')
                else
                    alert('프로젝트에서 제외에 실패했습니다.')
            }
        });
    }

    //change leader
    function changeLeader(element) {
        const projectId = location.pathname.split('/')[2];
        const memberId = element.closest("#memberOptionsModal").getAttribute('data-member-id');
        console.log(memberId);
        // curl api
        // generate invite link
        $.ajax({
            url: baseURL + '/projects/' + projectId + '/leader/' + memberId,
            type: 'PUT',
            success: function(data) {
                console.log(data);
                alert('리더가 변경 되었습니다.');
                window.location.reload();
            },
            error: function(request) {
                console.log(request);
                if(request.status === 403)
                    alert('권한이 없습니다.')
                else if(request.status === 404)
                    alert('존재하지 않는 사용자입니다.')
                else if(request.status === 500)
                    alert('서버 오류입니다.')
                else
                    alert('리더 변경에 실패했습니다.')
            }
        });
    }

    //memberId options modal
    function showMemberOptionsModal(event) {
        console.log('clicked member');
        const modal = document.getElementById('memberOptionsModal');
        const memberElement = event.target.closest('.studentInfo');
        const memberId = memberElement.getAttribute('data-member-id');
        const isLeader = memberElement.getAttribute('data-isleader');
        modal.setAttribute('data-member-id', memberId);

        if (isLeader === 'true') {
            modal.querySelector('#setLeaderButton')?.classList.add('hidden');
            modal.querySelector('#removeMemberButton')?.classList.add('hidden');
        } else {
            modal.querySelector('#setLeaderButton')?.classList.remove('hidden');
            modal.querySelector('#removeMemberButton')?.classList.remove('hidden');
        }

        // Show the modal
        modal.classList.remove('hidden');

        // Get mouse position
        var mouseX = event.clientX;
        var mouseY = event.clientY;

        // Get scrolling offset
        var scrollLeft = window.scrollX || document.documentElement.scrollLeft;
        var scrollTop = window.scrollY || document.documentElement.scrollTop;


        // Set modal position
        modal.style.left = (mouseX + scrollLeft) + 'px';
        modal.style.top = (mouseY + scrollTop - modal.offsetHeight) + 'px';

        console.log(modal.style);
        console.log(modal.style.top);
    }

    function closeModal() {
        var modal = document.getElementById('memberOptionsModal');
        modal.setAttribute('data-member-id', "");
        modal.classList.add('hidden');
    }

    document.addEventListener('click', function(event) {
        var modal = document.getElementById('memberOptionsModal');
        var studentButton = event.target.closest('.studentInfo'); // Replace with a more specific selector if needed

        // Check if the clicked area is outside the dropdown and button
        if (!modal.contains(event.target) && !studentButton) {
            modal.classList.add('hidden');
        }
    });


    //notification
    function handleNotificationClick(element) {
        var noticeUrl = element.getAttribute('data-notice-url');
        console.log(noticeUrl);
        $.ajax({
            url: noticeUrl,
            type: 'POST', // Adjust as needed
            success: function(data) {
                if (data.code === 201) {
                    localStorage.setItem('notif-to-delete', element.getAttribute('data-notif-id'));
                    window.location.href = data.data;
                }
                else if (data.code === 202) {
                    handleDeleteNotification(element);
                    alert("프로젝트 참여에 성공했습니다.");
                    window.location.reload();
                }
            },
            error: function(error) {
                if (error.status === 403) {
                    alert("권한이 없습니다.");
                }
                else if (error.status === 405) {
                    alert("이미 평가 완료한 프로젝트입니다.");
                }
                else if (error.status === 500) {
                    alert("Server error.");
                    console.log(error);
                }
                else {
                    alert("API call failed.");
                    console.log(error);
                }
            }
        });
    }

    //delete notification
    function handleDeleteNotification(element) {
        // Add your AJAX call or other logic to delete the notification
        var notificationId = element.getAttribute('data-notif-id');
        // For example, using jQuery AJAX:
        $.ajax({
            url: '/notification/delete/' + notificationId, // Modify with your actual endpoint
            type: 'POST',
            success: function(response) {
                // Handle successful deletion
                // Optionally, remove the notification from the DOM
                var notificationDiv = element.closest('.notification-item');
                if (notificationDiv) {
                    notificationDiv.remove();
                }
                var notificationCount = document.getElementById('notification-count');
                if (notificationCount) {
                    let count = parseInt(notificationCount.innerText) - 1;
                    if (count <= 0) {
                        notificationCount.remove();
                    }
                    else {
                        notificationCount.innerText = count.toString();
                    }
                }
            },
            error: function(error) {
                // Handle error
                console.log(error);
                alert('Failed to delete notification');
            }
        });
    }

    //task checkbox
    // 0: unchecked, 1: in-progress, 2: completed
    const TaskStatus = ['TODO', 'DOING', 'DONE']

    document.addEventListener('DOMContentLoaded', (event) => {
        const checkboxes = document.getElementsByClassName('statusCheckBox')
        for (let i = 0; i < checkboxes.length; i++) {
            updateIcon(checkboxes[i]);
        }
    });

    function updateIcon(element) {
        const taskStatus = element.getAttribute('data-task-status');
        const checkboxState = (TaskStatus.indexOf(taskStatus));
        const runningManIcon = element.querySelector('#runningManIcon');
        const checkmarkIcon = element.querySelector('#checkmarkIcon');

        // Update icons and background color based on state
        switch (checkboxState) {
            case 0: // unchecked
                runningManIcon.classList.add('hidden');
                checkmarkIcon.classList.add('hidden');
                element.style.backgroundColor = 'transparent';
                break;
            case 1: // in-progress
                runningManIcon.classList.remove('hidden');
                checkmarkIcon.classList.add('hidden');
                element.style.backgroundColor = 'transparent';
                break;
            case 2: // completed
                runningManIcon.classList.add('hidden');
                checkmarkIcon.classList.remove('hidden');
                element.style.backgroundColor = 'transparent';
                break;
        }
    }
    function toggleCheckboxState(element) {
        //curl api
        const projectId = location.pathname.split('/')[2];
        const taskId = element.getAttribute('data-task-id');
        var taskStatus = element.getAttribute('data-task-status');

        const runningManIcon = element.querySelector('#runningManIcon');
        const checkmarkIcon = element.querySelector('#checkmarkIcon');

        let checkboxState = (TaskStatus.indexOf(taskStatus) + 1) % 3; // Cycle through states
        taskStatus = TaskStatus[checkboxState];

        $.ajax({
            url: baseURL + '/tasks/status/' + taskId + '/' + taskStatus,
            type: 'POST',
            success: function(data) {
                console.log(data);
                element.setAttribute('data-task-status', taskStatus)
            },
            error: function(request, status, error) {
                console.log(error);
                alert('Task 상태 변경에 실패했습니다.')
            }
        });

        // Update icons and background color based on state
        switch (checkboxState) {
            case 0: // unchecked
                runningManIcon.classList.add('hidden');
                checkmarkIcon.classList.add('hidden');
                element.style.backgroundColor = 'transparent';
                break;
            case 1: // in-progress
                runningManIcon.classList.remove('hidden');
                checkmarkIcon.classList.add('hidden');
                element.style.backgroundColor = 'transparent';
                break;
            case 2: // completed
                runningManIcon.classList.add('hidden');
                checkmarkIcon.classList.remove('hidden');
                element.style.backgroundColor = 'transparent';
                break;
        }
    }



    //task modal
    document.getElementById('newTaskForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const projectId = location.pathname.split('/')[2];
        const data = {
            taskName: document.getElementById('taskName').value,
            taskContent: document.getElementById('taskDescription').value,
            dueDateTime: document.getElementById('dueDate').value,
            projectId: projectId,
            memberIds: []
        };
        const members = document.getElementsByClassName('studentCheckBox');
        for (let i = 0; i < members.length; i++) {
            if (members[i].checked) {
                data.memberIds.push(members[i].value);
            }
        }
        // curl api
        // generate invite link
        $.ajax({
            url: baseURL + '/tasks/create',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify(data),
            success: function(data) {
                console.log(data);
                alert('Task가 추가되었습니다.');
                window.location.reload();
            },
            error: function(error) {
                console.log(error);
                alert('Task 추가에 실패했습니다.')
            }
        });
    });

    //delete task
    function deleteTask(element) {
        const taskId = element.getAttribute('data-task-id');
        // curl api
        // generate invite link
        $.ajax({
            url: baseURL + '/tasks/delete/' + taskId,
            type: 'POST',
            success: function(data) {
                console.log(data);
                alert('Task가 삭제되었습니다.');
                window.location.reload();
            },
            error: function(error) {
                console.log(error);
                alert('Task 삭제에 실패했습니다.')
            }
        });
    }

    //change status
    function changeStatus() {
        let changeConfirm = confirm('프로젝트 상태를 변경하시겠습니까?');
        if (!changeConfirm) {
            return;
        }

        const projectId = location.pathname.split('/')[2];
        // curl api
        const sendData = {
            statusCode: 'DONE'
        }
        // generate invite link
        $.ajax({
            url: baseURL + '/projects/' + projectId + '/status',
            type: 'PUT',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify(sendData),
            success: function(data) {
                console.log(data);
                alert('프로젝트 상태가 변경되었습니다.');
                window.location.reload();
            },
            error: function(error) {
                console.log(error);
                if (error.status === 403) {
                    alert('권한이 없습니다.');
                }
                else {
                    alert('프로젝트 상태 변경에 실패했습니다.');
                }
            }
        });
    }

    //delete project
    function deleteProject() {
        let deleteConfirm = confirm('프로젝트를 삭제하시겠습니까?');
        if (!deleteConfirm) {
            return;
        }

        const projectId = location.pathname.split('/')[2];
        // curl api
        // generate invite link
        $.ajax({
            url: baseURL + '/projects/' + projectId,
            type: 'DELETE',
            success: function(data) {
                console.log(data);
                alert('프로젝트가 삭제되었습니다.');
                window.location.href = '/main';
            },
            error: function(error) {
                console.log(error);
                if (error.status === 403) {
                    alert('권한이 없습니다.');
                }
                else {
                    alert('프로젝트 삭제에 실패했습니다.');
                }
            }
        });
    }

    function viewMember(element) {
        const memberId = element.closest("#memberOptionsModal").getAttribute('data-member-id');
        const modal = document.getElementById('userRatingModal');
        const memberNameLabel = modal.querySelector('#memberName');
        const memberMajorLabel = modal.querySelector('#memberMajor');
        const memberEmailLabel = modal.querySelector('#memberEmail');
        const memberTempLabel = modal.querySelector('#memberTemp');
        const memberRatings = modal.querySelectorAll('.star-slider');

        // curl api
        $.ajax(
            {
                url: baseURL + '/member/info/' + memberId,
                type: 'GET',
                success: function(data) {
                    console.log(data);
                    memberNameLabel.innerText = data.data.name + " " + data.data.studentId;
                    memberMajorLabel.innerText = data.data.major;
                    memberEmailLabel.innerText = data.data.email;
                    memberTempLabel.innerText = data.data.temp + '°C';
                    memberRatings[0].setAttribute('width', data.data.criteria1 * 50 + 200);
                    memberRatings[1].setAttribute('width', data.data.criteria2 * 50 + 200);
                    memberRatings[2].setAttribute('width', data.data.criteria3 * 50 + 200);
                    memberRatings[3].setAttribute('width', data.data.criteria4 * 50 + 200);
                    closeModal();
                    document.getElementById('userRatingModal').classList.remove('hidden');
                },
                error: function(error) {
                    console.log(error);
                    if(error.status === 404)
                        alert('존재하지 않는 사용자입니다.');
                    else
                        alert('사용자 정보를 불러오는데 실패했습니다.');
                }
            }
        )
    }

    function closeUserModal() {
        document.getElementById('userRatingModal').classList.add('hidden');
    }


    //edit project
    function editProject() {
        const projectId = location.pathname.split('/')[2];
        $.ajax({
            url: baseURL + "/projects/" + projectId,
            type: 'GET',
            success: function (rawData) {
                console.log(rawData);
                const data = rawData.data;
                let modal = document.getElementById('projectEditModal');
                modal.classList.remove('hidden');
                document.getElementById('editProjectName').value = data.name;
                document.getElementById('editProjectSummary').value = data.summary;
                document.getElementById('editClassName').value = data.className;
                document.getElementById('editStartDate').value = data.startDate.slice(0, 10);
                document.getElementById('editEndDate').value = data.endDate.slice(0, 10);
                document.getElementById('editProjectModalSubmit').setAttribute('data-project-id', projectId);
            },
        });
    }

    function editProjectSubmit(element) {
        let projectId = element.getAttribute('data-project-id');
        let modal = document.getElementById('projectEditModal');
        // call api to add project
        let projectName = document.getElementById('editProjectName').value;
        let projectSummary = document.getElementById('editProjectSummary').value;
        let className = document.getElementById('editClassName').value;
        let startDate = document.getElementById('editStartDate').value;
        let endDate = document.getElementById('editEndDate').value;

        $.ajax({
            type: "PUT",
            url: baseURL + "/projects/" + projectId,
            data: JSON.stringify({
                "name": projectName,
                "summary": projectSummary,
                "className": className,
                "startDate": startDate,
                "endDate": endDate,
                "statusCode": "DOING"
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data){
                alert("프로젝트가 수정되었습니다.")
                window.location.reload();
            },
            failure: function(errMsg) {
                alert(errMsg);
            }
        });
    }


</script>
</body>
</html>